body {
    overflow-x: clip;
}

.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgb(208, 208, 208);
    border: 1px solid rgba(86, 61, 124, .2);
}
.container {
    align-content: flex-start;
}

.disabled {
    display: none;
}

.text-right {
    text-align: right;
}

.footer {
    background: #f5f5dc;
}

#topic-list {
    margin-top: 10px;
}

.list-container {
    border: thin solid black;
}

#newtopic{
    font-size: 20px;
    margin-left: 7px;
}

#override-fieldset fieldset {
    border:  2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 10px #666;

}

#override-fieldset legend {
    position: relative;
    border:  1px solid #ccc;
    border-radius: 12px;
    padding: 15px 15px;
    line-height: 18px;
}

table
{
    counter-reset: rowNumber;
    margin-top: 2rem;
}

.view-bar {
    margin-top: 1rem;
}

.btn-prominent {
    backgrounD: #0d6efd3b;
}

.btn-right {
    text-align: right;
}

.table-responsive {
    margin-top: 2rem;
}

thead {
    background-color: #212529;
    color: #fff;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}